@import './fontawesome.css';
@import './light.css';

a {
  text-decoration: none;
}

.img-circle {
  border-radius: 100px;
}
.icon-menu{
  margin-right: 12px
}
.fr{
  float: right;
}
.fl{
  float: left;
}
.lh-1{
  line-height: 1.2
}
.pointer{
  cursor: pointer;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}
.m-a{
  margin: auto;
}
.w-100{
  width: 100%;
}
hr {
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}
